.form2-section {
    padding: 1rem;
    margin-bottom: 1rem;
    gap: 1rem;
    border-radius: 10px;
    border: 1px solid var(--lightGray);

    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    align-items: center;
}

.form2-section.selected { border: 1px solid var(--purplishBlue); }

.form2-section:hover, 
.form2-section:focus {
    cursor: pointer;
    border-color: var(--purplishBlue);
}

.form2-section div {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.form2-input {
    transform: scale(1.5);
    accent-color: var(--purplishBlue);
    border: .5px solid var(--lightGray);
}

.form2-label { font-weight: 500; }

.form2-description {
    font-size: .75rem;
    color: var(--coolGray);
}

.form2-pricing { color: var(--marineBlue); }